@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Nostralogia3.Models.Geo.EventPlaceModel
    <div class="ml-3">
        <div class="row">
            <div class="CalendarLabel text-dark ">
                @Model.MainLabel
            </div>
        </div>
        <div class="wrapper border border-secondary rounded BgColorControls">
            <div class="row">
                <fieldset id="PlaceEvent">

                    <div class="col-md-3 form-group text-dark font-weight-bold">

                        @Html.LabelFor(x => x.CountryId)
                        @Html.DropDownListFor(x => x.CountryId, Model.Countries, null, Model.ReadOnly ? new { @disabled = "disabled", id = "cmbCountries", @class = "CalendarControls disabledctrl" } : new { id = "cmbCountries", @class = "CalendarControls" })
                    </div>
                    <div class="col-md-3 form-group text-dark font-weight-bold">
                        @Html.LabelFor(x => x.StateId)
                        @Html.DropDownListFor(x => x.StateId, Model.States, null, Model.ReadOnly ? new { @disabled = "disabled", id = "cmbStates", @class = "CalendarControls disabledctrl" } : new { id = "cmbStates", @class = "CalendarControls" })
                    </div>
                    <div class="col-md-3 form-group text-dark font-weight-bold">
                        @Html.LabelFor(x => x.PlaceId)
                        @Html.DropDownListFor(x => x.PlaceId, Model.Cities, null, Model.ReadOnly ? new { @disabled = "disabled", id = "cmbCities", @class = "CalendarControls disabledctrl" } : new { id = "cmbCities", @class = "CalendarControls" })
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <script src="/JS/GeoActions.js"></script>
    <script>

        $(document).ready(function () {
            $("#cmbCountries").on("change", function () {
                UpdateCountry();
            });
            $("#cmbStates").on("change", function () {
                UpdateStates();
            });

        });
    
    </script>

