@model Nostralogia3.Models.Geo.CoordinatesModel
    <link rel="stylesheet" href="~/css/Nostralogia.css" />

<div class="wraper_300 border border-secondary rounded BgColorControls col-6">
        <div class="row">
            <div class="CalendarLabel text-dark mt-lg-2 ml-lg-4">
                @Model.MainLabel
            </div>
        </div>

        <div class="mt-4 mb-4">
            <div class="form-group">
                <label class="required"><span class="field-name"></span>&nbsp;<strong class="required">Select format of coordinates</strong></label>
                @Html.DropDownListFor(x => x.CoordFormatSelected, Model.CoordFormats, new { @class = "form-control min_width_combo", id = "cmbFormatCoord" })
            </div>
        </div>
        <div id="divDecimalDegree" class="container ">
            <div class="form-group text-dark font-weight-bold ">
                <h5>@Html.LabelFor(x => x.Latitude)</h5>
                <div class="row">
                    <div class="col-3">
                        <input asp-for=@Model.Latitude class="form-control input100 mr-1" type="number" id="txtLatitude" />
                    </div>
                    <div class="col-3 ml-2">
                    @Html.DropDownListFor(x => x.LatSemiSphere, Model.NS, null, new { id = "cmbLatSemi" })
                    </div>
                </div>
            </div>
            <div class="form-group text-dark font-weight-bold">
                <h5>@Html.LabelFor(x => x.Longitude)</h5>
                <div class="row">
                    <div class="col-3 ">
                    <input asp-for="@Model.Longitude" class="form-control input100 mr-1" type="number" id="txtLongitude" />
                    </div>
                    <div class="col-3 ml-2">
                    @Html.DropDownListFor(x => x.LongSemiSphere, Model.WE, null, new { id = "cmbLongSemi" })
                    </div>
                </div>
            </div>

        </div>
    <div id="divDegreeMinSec" class="container">

            <div class="form-group text-dark font-weight-bold">
                <h5>@Html.Label("Latitude")</h5>
                <div class="row mr-3">
                    <span class="col-3">
                        Degree
                    </span>
                    <span class="col-3">
                        Minutes
                    </span>
                    <span class="col-3">
                        Seconds
                    </span>
                </div>
                <div class="row mr-3">
                    <div class="col-3">
                    <input asp-for="@Model.LatDegrees" class="form-control mr-1 input80" type="number" id="txtLongDegrees" />
                    </div>
                    <div class="col-3">
                    <input asp-for="@Model.LatMinutes" class="form-control mr-1 input80" type="number" id="txtLongMins" />
                    </div>
                    <div class="col-3">
                    <input asp-for="@Model.LatSeconds" class="form-control mr-1 input80" type="number" id="txtLongSecs" />
                    </div>
                    <div class="col-3">
                    @Html.DropDownListFor(x => x.LatSemiSphere2, Model.NS, null, new { id = "cmbLatSemi" })
                    </div>
                </div>

            </div>
            <div class="form-group text-dark font-weight-bold">
                <h5>
                    @Html.Label("Longitude")
                </h5>
                <div class="row mr-3">
                    <span class="col-3">
                        Degree
                    </span>
                    <span class="col-3">
                        Minutes
                    </span>
                    <span class="col-3">
                        Seconds
                    </span>
                </div>
                <div class="row mr-3">
                    <div class="col-3">
                    <input asp-for="@Model.LongDegrees" class="form-control mr-1 input80" type="number" id="txtLongDegrees" />
                    </div>
                    <div class="col-3">
                    <input asp-for="@Model.LongMinutes" class="form-control mr-1 input80" type="number" id="txtLongMins" />
                    </div>
                    <div class="col-3">
                    <input asp-for="@Model.LongSeconds" class="form-control mr-1 input80" type="number" id="txtLongSecs" />
                    </div>
                    <div class="col-3">
                    @Html.DropDownListFor(x => x.LongSemiSphere2, Model.WE, null, new { id = "cmbLongSemi" })
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    
    $(document).ready(function () {
        InitFormats();
        $("#cmbFormatCoord").on("change", function () {

            var value = $("#cmbFormatCoord").val();
            //console.log("format val => " + value);
            if (value == "1") {
                $("#divDegreeMinSec").hide();
                $("#divDecimalDegree").show();
            }
            else {
                $("#divDegreeMinSec").show();
                $("#divDecimalDegree").hide();
            }
        });

        function InitFormats() {
            console.log("Inint OK");
            $("#divDegreeMinSec").show();
            $("#divDecimalDegree").hide();
        }
    });
</script>