@model Nostralogia3.Models.UserControls.KeyWords.KeyWordsCollectionModel
@*<link href="@Url.Content("~/CSS/KeyWordsManager.css")" rel="stylesheet" type="text/css" />*@

<div class="container ">
    <div class="container border border-secondary rounded BgColorControls">
        <div class="container">
            <div class="row  w-100 mb-1">
                <div class="font-weight-bold text-dark h5 col-3 mt-2">
                    Key words:
                </div>
                <div class="col-8 mt-2 text-secondary" id="dvKW_txt_data">
                    <strong><i>@Model.ToString()</i></strong>
                </div>

                <div class="col-1 text-right" id="dvbutOpen">
                    <img src="~/Images/KeyWordsManager/edit.png" height="40" width="40" id="butKWOpen" data-toggle="tooltip" data-placement="top" class="float-right" title="Edit" />
                </div>
            </div>
            <div id="dvKW_MainSelection" class="d-none">
                <div class="row ">
                    <div class="col-4" id="dvFullListKW">
                        @Html.ListBox("lstGeneral", @Model.KeyWordsCollection, new { id = "genLeft", size = "8", style = "width:200px;" })
                    </div>
                    <div class="col-1">
                            <div class="row">
                                <button id=butAdd type="button" class="btn btn-default mb-1 mr-1 border border-dark rounded" title="Add keyword" ><i class="fa-solid fa-angles-right"></i></button>
                            </div>
                            <div class="row">
                                <button id=butRemove type="button" class="btn btn-default mb-1 mr-1 border border-dark rounded" title="Remove keyword"><i class="fa-solid fa-angles-left"></i></button>
                            </div>
                            <div class="row">
                                <button id=butDrUp type="button" class="btn btn-default mb-1 mr-1 border border-dark rounded" title="Drill up..."><i class="fa-solid fa-angles-up"></i></button>
                            </div>
                            <div class="row">
                                <button id=butDrDown type="button" class="btn btn-default mb-1 mr-1 border border-dark rounded" title="Drill down..."><i class="fa-solid fa-angles-down"></i></button>
                            </div>
                        
                    </div>
                    
                    <div class="col-4 " id="dvSelListKW" >
                        @Html.ListBox("lstSelectedGeneral", @Model.SelectedKeyWordsCollection, new { id = "selRight", size = "8", style = "width:200px;" })
                    </div>
                </div>
                <div class="row mb-2 mt-1">
                    <div class="col-2">
                        <button type="button" class="btn btn-default mt-2" id="butOK"  title="Save changes"><i class="fa-solid fa-floppy-disk fa-xl"></i></button>
                    </div>
                    <div class="col-2 ml-1">
                        <button type="button" class="btn btn-default mt-2" id="butCancel"  title="Cancel"><i class="fa-regular fa-rectangle-xmark fa-xl"></i></button>
                    </div>
                </div>
            </div>

            <input id="hdKWIDCoolection" type="hidden" />
            @Html.HiddenFor(x=>x.IdForKWStorage, new { id = "IdForKWStorage" })
        </div>
    </div>
</div>


    <script type="text/javascript" src="~/js/KeyWordsManager.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           
            $("#butKWOpen").on("click", function () {
                if (@Model.IdForKWStorage> 0) {
                    KWOpen();
                }
                else {
                    alert("Please save a personal data first!")
                }
                
            });
            $("#butAdd").on("click", function () {
                AddKW();
            });
            $("#butRemove").on("click", function () {
                $("#selRight option:selected").remove();
            });
            $("#butDrDown").on("click", function () {
                DrillDown();
            });
            $("#genLeft").on("dblclick", function () {
                var valselect = $("#genLeft option:selected").val();
                $("#genLeft").val(valselect);
                DrillDown();
            });
            $("#butDrUp").on("click", function () {
                DrillUp();
            });
            $("#butOK").on("click", function () {
                OnOK();
            });
            $("#butCancel").on("click", function () {
                OnCancel();
            });

        });

    </script>
