@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Nostralogia3.Models.UserControls.NostraTable
<script src="https://kit.fontawesome.com/945d346062.js" crossorigin="anonymous"></script>

<div class="row w-100">
    <div class="row  w-100">
        <div class="tablelabel">
            @Model.TableLabel @*Last Ten Persons Added*@
        </div>
        <div class="ExpandLabel">
            <a  id="@Model.ExpanderId()" role="button">
                ↑↓
            </a>
        </div>
    </div>

    <div class="@Model.GetclassExpanded()" id="@Model.ExpandCollapsAreaId()">
        <table id="@Model.GetTbleId()" class="table table-striped m-lg-4 table-fixed">
            <thead class="thead-dark">
                <tr>
                    @foreach (var label in @Model.Labels)
                    {
                        <th class="th-lg" style="width:@label.Width;">@label.Label</th>
                    }
                </tr>
            </thead>
            <tbody class="table-hover">
                @foreach (var row in @Model.Data)
                {
                <tr>
                    @foreach (var data in row)
                    {

                        if (@data.Contains(Constants.MarkerEdit))
                        {
                            var pos = @data.IndexOf(":");
                            var id = @data.Substring(pos);
                            <td class="edit_cell" data-edit="@id"><i class="fas fa-edit"></i> </td>
                        }
                        else if (@data.Contains(Constants.MarkerDelete))
                        {
                            var pos = @data.IndexOf(":");
                            var id = @data.Substring(pos);
                            <td class="delete_cell" data-edit="@id"><i class="far fa-trash-alt"></i> </td>
                        }
                        else
                        {
                            <td class="text-nowrap" >@data </td>
                        }
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
 </div>
<script>
    $(document).ready(function () {
        $("#@Model.ExpanderId()").on("click", function () {
            $("#@Model.ExpandCollapsAreaId()").toggle();
        });
    });
</script>