@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Nostralogia3.ViewModels.PictureViewer.PicturesViewerEditViewModel

    <div class="container w-100">
        <div class="container border border-secondary rounded BgColorControls">
            <div class="container">
                <div class="row w-100 mb-1">
                    <div class="h5 col-4 mt-3 font-weight-bold">
                        Pictures Viewer
                    </div>
                    <div class="col-3"></div>

                    <div class="col-4 mt-2 ">
                        Number of the images:  @Model._pictures.Count
                    </div>
                </div>
                
                <div class="row">
                    @if (@Model._pictures.Count == 0)
                    {
                        <div class="col-4">
                            <img src="~/Repository/PeopleImages/M_NoPict.JPG" id="imgPresent0" />
                        </div>
                    }
                    else
                    {
                        <div class="col-4" id="imgContainer">
                        </div>
                    }
                    <div class="col-1">
                        <div class="container">
                            <div class="row mb-3 ">
                                <a id=btnNext title="Next" >
                                    @if (Model.IsOnline)
                                    {
                                        <i class="fa-solid fa-circle-arrow-right fa-xl"></i>
                                    }
                                    else
                                    {
                                        <i class="nstr_offline_button  p-1">N</i>
                                    }
                                </a>
                            </div>
                            <div class="row mb-3">
                                <a id=btnPrev title="Previous">
                               
                                    @if (Model.IsOnline)
                                    {
                                        <i class="fa-solid fa-circle-arrow-left fa-xl"></i>
                                    }
                                    else
                                    {
                                        <i class="nstr_offline_button  p-1">P</i>
                                    }

                                </a>
                            </div>
                            <form asp-action="PictureViewerEdit" asp-controller="PicturesViewer"  asp-route-id="@Model.IdRef" id="frmAddImg">
                            <div class="row mb-3">
                                <a id="btnAddImg" title="Add new">
                                    
                                    @if (Model.IsOnline)
                                    {
                                        <i class="fa-solid fa-circle-plus fa-xl"></i>
                                    }
                                    else
                                    {
                                        <i class="nstr_offline_button  p-1">+</i>

                                    }
                                </a>
                            </div>
                            </form>
                            <div class="row mb-3">
                                <a id=btnDeactivateImage title="Deactivate">

                                    @if (Model.IsOnline)
                                    {
                                        <i class="far fa-trash-alt fa-xl"></i>
                                    }
                                    else
                                    {
                                        <i class="nstr_offline_button  p-1">x</i>

                                    }

                                </a>
                            </div>
                            @if (Model.GetUserLevel() > 2)
                            {
                            <div class="row mb-3">
                                <a id=btnDelImage  class="text-danger" title="Delete">
                                    @if (Model.IsOnline)
                                    {
                                        <i class="far fa-trash-alt fa-xl"></i>
                                    }
                                    else
                                    {
                                        <i class="nstr_offline_button  p-1">X</i>

                                    }
                                </a>
                            </div>
                            } 
                        </div>
                     </div>
                    <div class="col-4">
                        <textarea id="txtComments" disabled="disabled" cols="35" rows="8">No comments found...</textarea>
                    </div>
                </div>
                    <div class="row mb-3">

                    </div>
                
             </div>
        </div>
    </div>
    
<script src="~/js/PicturesViewer2.js"></script>
<script>
    var UserLevel = @Model.GetUserLevel();
    //console.log("UserLevel =>" + UserLevel);
    var FullPath = '@Url.Content("~/Repository/PeopleImages/")';
    var cur_index = 0;
    var model = '@Html.Raw(Json.Serialize(@Model._pictures))';
    var pictures = JSON.parse(model);

    console.log("pictures L =>" + pictures.length);
    console.log(pictures);
    InitPicture();

    function InitPicture() {
        
        if (pictures.length>0 && ((pictures[cur_index]["isAvailable"] != undefined && pictures[cur_index]["isAvailable"] == true) ||
            (pictures[cur_index]["isAvailable"] != undefined && pictures[cur_index]["isAvailable"] == false && UserLevel > 2)))
            {
            if (pictures[cur_index]["width"] != undefined && pictures[cur_index]["height"] != undefined && pictures[cur_index]["fileName"] != undefined) {
                console.log("InitPicture start");
                var newimg = "<img  src=  '" + FullPath + pictures[cur_index]["fileName"] + "' id='imgPresent" + cur_index + "' width='" + pictures[cur_index]["width"] + "'" + " height='" + pictures[cur_index]["height"] + "' />";
                console.log("newimg => " + newimg);
                $("#imgContainer").empty();
                $("#imgContainer").append(newimg);
                $("#txtComments").val(pictures[cur_index]["comments"]);
                if (pictures[cur_index]["isAvailable"] == false) {
                    $("#imgContainer").addClass("bg-warning");
                }
                else {
                    $("#imgContainer").removeClass("bg-warning");
                }

            }
        }
        else {
            console.log("ERROR or pictures collection is empty.");
        }
    }

        $(document).ready(function () {

            $("#btnUploadCancel").on("click", function () {
                $("#dvFile").removeClass("visible").addClass("invisible");
            });
            $('.custom-file-input').on('change', function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
            $("#btnPrev").on("click", function () {
                //console.log("prev");
                UpdateCursor(-1);
                InitPicture();
            });
            $("#btnNext").on("click", function () {
                //console.log("next");
                UpdateCursor(1);
                InitPicture();
            });
            $("#btnAddImg").on("click", function() {
                console.log("#btnAddImg");
                $("#frmAddImg").submit();
            });

            function UpdateCursor(increment) {
                var L = pictures.length;
                cur_index += increment;
                if (cur_index == L) {
                    cur_index = 0;
                }
                else if(cur_index<0){
                    cur_index = L - 1;
                }
            }
            $("#btnDelImage").on("click", function () {
                var url = "/PicturesViewer/DeletePicture?id=" + pictures[cur_index]["idpicture"];
                $.ajax({
                    type: "POST",
                    url: url,
                    datatype: "json",
                    success: function (data) {

                        pictures = data;
                        //console.log("data => " + data);
                        location.reload();

                    }

                });
            });
            $("#btnDeactivateImage").on("click", function () {
                var url = "/PicturesViewer/DeactivatePicture?id=" + pictures[cur_index]["idpicture"];
                $.ajax({
                    type: "POST",
                    url: url,
                    datatype: "json",
                    success: function (data) {

                        pictures = data;
                        location.reload();

                    }

                });
            });

        });
</script>