@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Nostralogia3.Models.UserControls.SimpleCalendarModel

<div class="ml-3">
    <div class="row">
        <div class="CalendarLabel text-dark">
            @Model.MainLabel
        </div>
    </div>
    <div class="wrapper border border-secondary rounded BgColorControls">
        <div class="row">
            <div class="col-sm-3 form-group text-dark font-weight-bold">
                @Html.LabelFor(x => x.Day) 
                @Html.DropDownListFor(x => x.Day, Model.Days, null, Model.ReadOnly ? new { @disabled = "disabled", id = @Model.GetIdDays(), @class = "CalendarControls disabledctrl" }: new { id = @Model.GetIdDays(), @class = "CalendarControls" })
            </div>
            <div class="col-sm-3 form-group text-dark font-weight-bold">
                @Html.LabelFor(x => x.Month)
                @Html.DropDownListFor(x => x.Month, Model.Monthes, null, Model.ReadOnly ? new { @disabled = "disabled", id = @Model.GetIdMonthes(), @class = "CalendarControls disabledctrl" } : new { id = @Model.GetIdMonthes(), @class = "CalendarControls" })
            </div>
            <div class="col-sm-3 form-group text-dark font-weight-bold">
                @Html.LabelFor(x => x.Year)
                @Html.TextBoxFor(x => x.Year, Model.ReadOnly ? new { @disabled = "disabled", id = @Model.GetIdYear(), @class = "CalendarControls disabledctrl" } : new { id = @Model.GetIdYear(), @class = "CalendarControls", @type = "number" })
            </div>
        </div>
    </div>
</div>
    <script src="~/js/SimpleCalendar.js"></script>
    <script>
        $(document).ready(function () {


            $("#@Model.GetIdYear()").on("change", function () {
                UpdateMonthDays();
            });
            $("#@Model.GetIdMonthes()").on("change", function () {
                UpdateMonthDays();
            });

    });
    </script>
