
@{
    ViewData["Title"] = "DataPerson";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@using Nostralogia3.Models.UserControls
@model Nostralogia3.Models.DataWorking.MPersonalData

<div class="row">
    <div class="col-md-5 bg-dark">
        @using (Html.BeginForm("MyAccount", "LogIn", FormMethod.Post))
        {
            <section class="bg-dark ">
                <div class="container">
                    <div class="col-md-10 form-group">
                        <label class="text-danger">@Model.ErrorMessage</label>
                    </div>
                    <fieldset>
                        <legend class="text-warning ml-lg-4">Personal Data Form</legend>

                        @*<div class="col-md-3 form-group">
                                 @Html.LabelFor(x => x.FirstName)
                                 @Html.EditorFor(x => x.FirstName)
                             </div>
                             <div class="col-md-3 form-group">
                                 @Html.LabelFor(x => x.MidleName)
                                 @Html.PasswordFor(x => x.MidleName)
                             </div>
                             <div class="col-md-3 form-group">
                                 @Html.LabelFor(x => x.LastName)
                                 @Html.EditorFor(x => x.LastName)
                             </div>
                             <div class="col-md-3 form-group">
                                 @Html.LabelFor(x => x.Email)
                                 @Html.EditorFor(x => x.Email)
                                 <div class="row ml-lg-1">
                                     @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                 </div>
                             </div>

                             <div class="col-md-2 form-group">
                                 @Html.LabelFor(x => x.Sex)
                                 @Html.DropDownListFor(x => x.Sex, Model.SexCollection, null, new { id = "cmbSex" })
                             </div>
                             <div class="col-md-3 form-group">
                                 @Html.LabelFor(x => x.NumPoints)
                                 @Html.EditorFor(x => x.NumPoints, new
                            {
                                htmlAttributes = new { /*disabled = "disabled",*/ @readonly = "readonly" }
                            })
                             </div>
                             @await Html.PartialAsync("~/Views/UserControls/_EventPlaceView.cshtml", Model.EventPlaceModel)*@

                        @await Html.PartialAsync("~/Views/UserControls/_SimpleCalendarView.cshtml", new SimpleCalendarModel("Date of Birth"))

                        <div class="col-md-3 form-group align-items-center mt-lg-3">
                            <button type="submit" class="btn btn-outline-warning">Update</button>
                        </div>
                    </fieldset>

                </div>
            </section>
            @*@Html.HiddenFor(x => x.Id)*@
        }

    </div>
    <div class="col-md-7 bg-secondary" style="min-height:300px;">

    </div>
</div>

