
@model Nostralogia3.ViewModels.MapNotes.SingleMapNoteVM

<div id="@Model.GetDevViewId()" class="container border border-secondary rounded BgColorControls mt-2 mb-2">
    <div class="row bg-secondary">
        <div class="col-3 mt-2 text-light">
            <strong>@Model.GetDate()</strong>
        </div>
        <div class="col-4"></div>
        <div class="col-1 mt-2">
            <a id="@Model.GetExpanderId()" role="button"><i class="fas fa-arrow-circle-down fa-lg text-light"></i></a>
            <a id="@Model.GetCollapserId()" role="button"><i class="fas fa-arrow-circle-up  fa-lg text-light"></i></a>
        </div>

            @using(Html.BeginForm("UpdateMapNote","PersonalNotes",new {id=@Model.MapNote.Id, IdRef = @Model.MapNote.IdPerson }, FormMethod.Post, null,null))
            {                
                 <button type="submit" class="btn btn-default" id="@Model.GetBtnEditId()" title="Edit comments"><i class="fas fa-edit fa-lg text-light"></i></button>                
            }

        @if (Model.MapNote.IsAvailable == true)
        {
            <div class="col-1">
                <button type="button" class="btn btn-default" id="@Model.GetDeactivateId()" title="Deactivate"><i class="far fa-trash-alt fa-xl text-light"></i></button>
            </div>
        }
        else
        {
            <div class="col-1">
                <button type="button" class="btn btn-default" id="@Model.GetActivateId()" title="Activate"><i class="fa-solid fa-arrow-turn-up fa-xl text-light"></i></button>
            </div>
        }

        @if (Model.GetUserLevel() > 2)
        {
            <div class="col-1">
                <button type="button" class="btn btn-default text-danger" id="@Model.GetDeleteId()" title="Delete"><i class="far fa-trash-alt fa-xl text-danger" ></i></button>
            </div>
        }
    </div>
    <div class="row p-3" id="@Model.GetdvMapNoteId()">
        @Model.MapNote.Note
    </div>
</div>


<script>
    InitControl();
    var TEXT_LENGTH_LIMIT = 245;
    function InitControl() {
        $("#" + "@Model.GetDevEditId()").hide();
        $("#" + "@Model.GetCollapserId()").hide();
        var note = "@Model.MapNote.Note";
        if (note.length > TEXT_LENGTH_LIMIT)
            note = "@Model.MapNote.Note".substr(0, TEXT_LENGTH_LIMIT) + "...";
        //console.log("note => "+note);
        $("#" + "@Model.GetdvMapNoteId()").html(note);

        //console.log('has value=> ' + '@Model.MapNote.IsAvailable.HasValue');
        //console.log('IsAvailable => ' + '@Model.MapNote.IsAvailable.Value');

        if ('@Model.MapNote.IsAvailable.HasValue'=='False' || ('@Model.MapNote.IsAvailable.HasValue'=='True' && '@Model.MapNote.IsAvailable.Value'== 'False')) {
            $("#" +'@Model.GetdvMapNoteId()').addClass("bg-warning");
        }
    }
    $(document).ready(function () {

        $("#" + "@Model.GetBtnCancelId()").on("click", function () {
            //console.log("cancel");
            $("#" + "@Model.GetDevViewId()").show();
            $("#" + "@Model.GetDevEditId()").hide();
        });

        $("#" + "@Model.GetCollapserId()").on("click", function () {
            //console.log("collapse");
            $("#" + "@Model.GetExpanderId()").show();
            $("#" + "@Model.GetCollapserId()").hide();
            var note = "@Model.MapNote.Note".substr(0, 245) + "...";
            $("#" + "@Model.GetdvMapNoteId()").html(note);
        });
        $("#" + "@Model.GetExpanderId()").on("click", function () {
            //console.log("expanded");
            $("#" + "@Model.GetCollapserId()").show();
            $("#" + "@Model.GetExpanderId()").hide();
            $("#" + "@Model.GetdvMapNoteId()").html("@Model.MapNote.Note");
        });

       $("#" + "@Model.GetDeactivateId()").on("click", function () {
           ActivationNote(false);
       });
        $("#" + "@Model.GetActivateId()").on("click", function () {
            console.log("GetActivate");
           ActivationNote(true);
       });
        function ActivationNote(activate) {
            console.log("ActivationNote");
            var url = "/PersonalNotes/ActivateMapNote?id=" + '@Model.MapNote.Id'+'&activate='+activate;
            console.log("url => " + url);
            $.ajax({
                type: "POST",
                url: url,
                success: function (data) {
                    if (data == true) {
                        console.log("data=> " + data);
                        location.reload();
                    }
                }
            });
        }
       $("#" + "@Model.GetDeleteId()").on("click", function () {
            //console.log("deactivate");
            var url = "/PersonalNotes/DeleteMapNote?id=" + '@Model.MapNote.Id';
            //console.log("url => " + url);
            $.ajax({
                type: "POST",
                url: url,
                success: function (data) {
                    if (data == true) {
                        console.log("data=> " + data);
                        location.reload();
                    }
                }
            });
        });
    });
</script>