@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    
}
@model Nostralogia3.ViewModels.MapNotes.MapNoteBase
<section class="bg-light">
    <div class="container">
        <h4 class="text-dark">Create New Note</h4>
        <button type="button" class="close pull-right" onclick="location.href='@Url.Action("EditPersonalData","DataWorking", new {id=Model.MapNote.IdPerson})'">&times;</button>

        
        @using(Html.BeginForm("SaveNote","PersonalNotes"))
        {
            <div class="row">
                <div class="form-group">
                    @Html.TextAreaFor(x=>x.MapNote.Note, new { cols = "150", rows = "25", id = "txtNewNote" })           

                    <div class="row mt-lg-5">

                            <div class="form-group ml-lg-4">
                                <button type="submit" class="nostr_btn">Save</button>
                            </div>
                 
                        <div class="form-group">
                            <input type="button" value="Cancel" onclick="location.href='@Url.Action("EditPersonalData","DataWorking", new {id=Model.MapNote.IdPerson})'" class="nostr_btn" />
                        </div>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(x=>x.MapNote.IdPerson)
            @Html.HiddenFor(x=>x.MapNote.Id)
            }
    </div>
    
</section>
<script>
$("#txtNewNote").val('@Model.MapNote.Note');

</script>