
@{
    ViewData["Title"] = "ForgottenPasswordView";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model Nostralogia3.Models.Authentication.MUser

@using (Html.BeginForm("ForgotPassword", "LogIn", FormMethod.Post))
{
    <section class="bg-dark ">
        <div class="container">
            <div class="col-md-10 form-group">
                <label class="text-danger">@Model.ErrorMessage</label>
            </div>
            <fieldset>
                <legend>Please enter a user name and email</legend>
                <div class="col-md-3 form-group">

                    @Html.LabelFor(x => x.UserName)
                    @Html.EditorFor(x => x.UserName)
                    <div class="row ml-lg-1">
                        @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3 form-group">
                    @Html.LabelFor(x => x.Email)
                    @Html.EditorFor(x => x.Email)
                    <div class="row ml-lg-1">
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3 form-group align-items-center mt-lg-3">
                    <button type="submit" class="btn btn-outline-warning">Send a new password</button>
                </div>
            </fieldset>

        </div>
    </section>

}